# Project specifics
rir-cli/rir
build

# Editors
*.swp
.vscode/*
!.vscode/extensions.json
.idea
compile_commands.json
.cache

# OS 
.Identifier
.DS_Store

# Unix bins
*.a
*.out
*.o
*.so

# Unix intermediates
*.d
*.i

